// 引入 其他的scss
@import 'normalize6.0.scss';
@import 'base.scss';

//设置高度 100%
html, body, .root-swiper-container {
  height: 100%;
}

//抽取函数 实现rem的转换
@function p2r($size) {
  @return ($size/64*1rem);
}

//顶级swiper的样式
.root-swiper-container {
  display: flex;
  flex-direction: column;
  > .swiper-wrapper {
    flex: 1;
  }
  > #root-swiper-pagination {
    //height:(90rem/64);
    height: p2r(90);
    //background-color: gray;
    position: static;
    span {
      width: 20%;
      //border: 1px solid #000;
      border-radius: 0;
      height: 100%;
      position: absolute;
      margin: 0;
      font-size: (20rem/64);
      opacity: .5;
    }
    span::before {
      bottom: (14rem/64);
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
    }
    span:nth-of-type(1) {
      left: 0;
      // 设置背景图片
      background: url('../images/01.app-icons/bb_btn_home_select.png') no-repeat top center / (38rem/64) (40rem/64);
      &::before {
        content: '首页';
      }
    }
    span:nth-of-type(2) {
      left: 20%;
      // 设置背景图片
      background: url('../images/01.app-icons/bb_btn_label_select.png') no-repeat top center / (51rem/64) (38rem/64);
      &::before {
        content: '发现';
      }
    }
    span:nth-of-type(3) {
      right: 20%;
      // 设置背景图片
      background: url('../images/01.app-icons/bb_btn_message_select.png') no-repeat top center / (40rem/64) (42rem/64);
      &::before {
        content: '消息';
      }
    }
    span:nth-of-type(4) {
      right: 0;
      // 设置背景图片
      background: url('../images/01.app-icons/bb_btn_account_select.png') no-repeat top center / (40rem/64) (40rem/64);
      &::before {
        content: '我的';
      }
    }
    //span被选中的时候 opacity为1
    span.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
  //照相机外观样式
  > .camera {
    position: absolute;
    width: 20%;
    height: p2r(90);
    bottom: 0;
    left: 40%;
    background: url("../images/01.app-icons/bb_btn_post_select.png") no-repeat center/ p2r(83) p2r(54);
  }
}

//首页的swiper的样式
.slideA-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  .slideA-pagination {
    position: static; //因为本身分页器有绝对定位 脱离了标准流 让它恢复标准流才能设置宽高
    height: p2r(80);
    //background-color: red;
    display: flex;
    justify-content: center;
    span {
      width: p2r(214);
      height: 100%;
      border-radius: 0;
      margin: 0 !important;
      font-size: p2r(34);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent !important;
      opacity: 1;
    }
    span:nth-of-type(1)::before {
      content: "关注";
    }
    span:nth-of-type(2)::after {
      content: "订阅";
    }
    //当span被选中的时候添加 底部的边线
    span.swiper-pagination-bullet-active {
      border-bottom: p2r(2) solid yellowgreen;
    }
  }
  > .swiper-wrapper {
    flex: 1;
    .swiper-slide {
      height: auto;
      overflow: scroll;
    }
  }
}

//首页内部样式--订阅区域的样式
.slideA-container >.swiper-wrapper>.swiper-slide:nth-child(2){
  padding-top:p2r(26);
  background-color: skyblue;
  h2{
    font-size: p2r(25);
    color:#828282;
    height:p2r(71);
    line-height: p2r(71);
    padding-left:p2r(28);
    background: white;
  }
  .items{
    border-top: 1px solid gray;
    .item{
      display: flex;
      height:p2r(105);
      background: #fff;
      .left{
        width:p2r(126);
        display: flex;
        justify-content:center;
        align-items: center;
        a{
          display: block;
          width:p2r(72);
          height:p2r(72);
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      .right{
        flex:1;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        .pl{
          p{
            font-size: p2r(20);
          }
          p:nth-child(1){
            color:black;
            padding-top:p2r(29);
            padding-bottom: p2r(20);
          }
          p:nth-child(2){
            color:#b3b3b3
          }
        }
        .pr{
          display: flex;
          align-items: center;
          a{
            color:yellowgreen;
            border: 1px solid yellowgreen;
            width:p2r(84);
            height:p2r(49);
            display: block;
            font-size: p2r(22);
            line-height: p2r(49);
            text-align: center;
            border-radius: p2r(25);
          }
        }
      }
    }
  }
}

//发现区域的样式布局
.slideB{
  overflow: scroll;
  .top{
    padding:p2r(12) p2r(20);
    input{
      width:100%;
      height:p2r(60);
      background-color: #eee;
      padding-left: p2r(160);
      border-radius: p2r(10);
    }
  }
  //内容部分
  .content{
    //轮播部分
    .slideB-banner{
      a{
        display: block;
        width:100%;
        img{
          width:100%;
        }
      }
    }
    //放大缩小轮播图
    .slideB-coverFlow{
      background-color: #eeeeee;
      height:p2r(705);
      padding-top:p2r(36);
      padding-bottom:p2r(77);
      >.swiper-wrapper>.swiper-slide{
        width:p2r(492);
        height:p2r(592);
        background-color: skyblue;
        font-size: p2r(200);
        img{
          width:100%;
          height:100%;
        }
      }
    }

    //达人推荐区域
    .master-container{
      h2{
        color:#969696;
        padding-top:p2r(33);
        padding-left:p2r(31);
        font-size: p2r(34);
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          padding-top:p2r(41);
          width:33.3333%;
          a{
            width:100%;
            display: block;
            img{
              width: p2r(176);
              height: p2r(176);
              border-radius: 50%;
              margin:0 auto;
            }
            p{
              padding-top:p2r(17);
              text-align: center;
              font-size: p2r(33);
            }
            p:nth-of-type(1){
              color:black;
            }
            p:nth-of-type(2){
              color:#9a9a9a;
            }
          }
        }
      }
    }
  }
}

//我的区域样式布局
.slideD-container{
  height:100%;
  background:url("../images/02.head-icons/lofter_header_icon_%20(1051).jpg") no-repeat center/100% 100%;
}
.slideD-container>.swiper-wrapper>.swiper-slide{
  height:auto;
  background-color: #fff;
}